body{
  font-family: 'robotoregular';
}

strong, b, .bold {
  font-family: 'robotobold'
}

#main-content{
  width: calc(100% - 440px);
}


.user-photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  border:  4px solid #fff;
}

img{
  max-width: 100%;
  height: auto;
}

#wrapper {
  display: flex;
}

#main-side{
  background: #5f6d7e;
  width: 440px;
  color:  #fff;
}

#main-side a{
  color: #fff;
  text-decoration: none;
}

#main-side-inner{
  position: sticky;
  top:  0;
}


#info .name{
  font-size: 18px;
}

#info .description{
  font-size: 14px;
}

.container{
  width: 1300px;
  margin: 0 auto;
}

#welcome {
  height: 645px;
  background: url(../images/7.jpg) no-repeat 50% 50% / cover;
  color: #fff;
}

#welcome .container{
  padding-top: 260px;
}

h1{
  font-family: 'robotobold';
  font-size: 42px;
  margin-bottom: 30px;
}

#slogan{
  font-size: 22px;
  color: white;
}
